name: CI

on:
  pull_request:
  push:
    branches: ["main"]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: ["1.21", "1.22", "1.23", "1.24", "1.25"]
        include:
          - go-version: "1.21"
            upload-coverage: false
          - go-version: "1.22"
            upload-coverage: false
          - go-version: "1.23"
            upload-coverage: false
          - go-version: "1.24"
            upload-coverage: false
          - go-version: "1.25"
            upload-coverage: true
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "${{ matrix.go-version }}"

      - name: Run Tests
        run: go test ./... -v -race -coverprofile=coverage.txt

      - name: Upload coverage to Codecov
        if: ${{ matrix.upload-coverage == true }}
        uses: codecov/codecov-action@v5
        with:
          files: coverage.txt
          flags: ${{ matrix.go-version }}
          name: CI Test Coverage
          token: ${{ secrets.CODECOV_TOKEN }}
